@import "./index.scss";

.titlearea {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#blogarea {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  & input {
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    border: none;
    padding: 0 1rem;
  }
  & button {
    width: 150px;
    margin: 0 auto;
    border: none;
    border-radius: 20px;
    padding: 5px 0;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    transition: 0.1s;
    &:hover {
      transform: scale(1.1);
      cursor: pointer;
      background-color: rgb(138, 138, 138);
    }
    &:active {
      transform: scale(1.05);
      background-color: rgb(255, 111, 255);
    }
  }
  & textarea {
    flex: 1;
    width: 100%;
    word-break: break-word;
    line-clamp: 10;
    padding: 1rem;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
  }
}
